# Virtual Environment folders
venvq1/
venv_q3/
venv_py311/

# Question 2 hyperparameter results - keep only best model
python/question2_new/hyperparameter_results/exp_1_lr0.001_batch2/
python/question2_new/hyperparameter_results/exp_2_lr0.001_batch4/
python/question2_new/hyperparameter_results/exp_4_lr0.01_batch2/
python/question2_new/hyperparameter_results/exp_5_lr0.01_batch4/
python/question2_new/hyperparameter_results/exp_6_lr0.01_batch8/

python/question2/
*.onnx
report/